
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 1rem;
  line-height: 2rem;
}
.h-min-100vh {
  min-height: 100vh;
}
.scroll-box {
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

h1 {
  font-size: 3rem;
  line-height: 1.5rem;
}
h2 {
  font-size: 17.55px;
}
