html,
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1rem;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
